body{
    margin: 0;
    padding-top: 20px ;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}

/* hero */



.hero-container{
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);

}

/* stars */

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  star-count: 50;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);

  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  
  @include sp-layout {
    // For mobile performance, tail-fade animation will be removed QAQ
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }

  @for $i from 1 through $star-count {
    &:nth-child(#{$i}) {
      --star-tail-length: #{random_range(500em, 750em) / 100};
      --top-offset: #{random_range(0vh, 10000vh) / 100};
      --fall-duration: #{random_range(6000, 12000s) / 1000};
      --fall-delay: #{random_range(0, 10000s) / 1000};
    }
  }

  &::before, &::after {
    position: absolute;
    content: '';
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }

  70%, 80% {
    width: 0;
    opacity: 0.4;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.hero-container {
  height: 90vh;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 2 / 1 / 3 / 6; }
.div2 { grid-area: 3 / 1 / 6 / 3; 
padding-left: 15%;}
.div3 { grid-area: 4 / 3 / 5 / 4; }
.div4 { grid-area: 3 / 4 / 6 / 6; }
.div5 { grid-area: 1 / 1 / 2 / 2; }
/* terminal animation */

@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  border: 0.1em solid #333;
  background-color: #1a1a1a;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminal-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #333;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminal-controls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  float: left;
  line-height: 1.5em;
  color: #eee;
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid green; /* Cursor */
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}


.text-wrapper{
  color: white;
font-family: Inter;
font-size: 12vh;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-bottom: 0;
}

.text-wrapper-2{
  margin: 0;
  color: white;
font-family: Inter;
font-size: 3vh;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-wrapper-3{
  margin: 0;
  color: white;
font-family: Inter;
font-size: 4vh;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-wrapper-4{
  margin: 0;
  color: white;
font-family: Inter;
font-size: 3vh;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.text-wrapper-5 {
  margin: 0;
  color: white;
font-family: Inter;
font-size: 2vh;
font-style: normal;
font-weight: 500;
line-height: normal;
}


/* end of hero css */

nav{
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
    /* position: fixed;
    z-index: 100; */
}

nav li{
    display: inline-block;
    margin: 0 8px;
}

nav a{
    text-decoration: none;
    color: rgb(185, 168, 168);
}

.logo{
    font-size: 40px;
    font-weight: bolder;
}


nav ul  a:hover{
    text-decoration: underline;
    color: white;
    text-underline-offset: 10px;
}

nav .logo a:hover{
    text-decoration: none;
    color: white;
}

.to-top{
    background-color: white;
     height:30px; 
     width:30px;
     right: 32px;
     bottom: 16px;
     border-radius: 50%;
     position: fixed;
     display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 32px;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        transition: all .4s;
}

.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 100;
}


/* .menu-line{
    height: 4px;
    width: 25px;
    background-color:rgb(185, 168, 168);
    margin-bottom: 3px;
    border-radius: 10px;
} */

.moving-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  margin-left: 2%;
  width: 230px;
  overflow: hidden;
}

.moving-text > p {
  margin: 0;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0);
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.menu-line {
  height: 4px;
  width: 25px;
  background-color: rgb(185, 168, 168);
  margin-bottom: 3px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.mobile-hero-sub{
 display: none;
}

.menu-line.active:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, 5px);
}

.menu-line.active:nth-child(2) {
  opacity: 0;
}

.menu-line.active:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.menu{
    cursor: pointer;
    display: none;
}
.hero-title {

  font-size: 17vh;
  text-align: center;
  font-family: 'karla', sans-serif;
  font-weight: 900;
  background: linear-gradient(45deg, #FBF8CC, #FDE4CF, #FFCFD2, #F1C0E8, #CFBAF0, #A3C4F3, #90DBF4, #8EECF5, #98F5E1, #B9FBC0);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 8s linear infinite, colorAnimation 0.3s ease-out, textShadowAnimation 0.3s ease-out;
  margin-bottom: 0;
  padding: 0;
}



@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes colorAnimation {
  to {
    color: #555; /* Change to the desired text color on hover */
  }
}

@keyframes textShadowAnimation {
  to {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow on hover */
  }
}




  .hero{
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .main_hero{
    height: 100vh;
    /* padding-top: 10%;
    padding-bottom: 140px; */
    display: flex;
    justify-content: space-around;
  }

  .main_hero .code-design3 {
    /* height: 90%; */
    /* width: 90%; */
    z-index: -1;
    /* opacity: 0.5; */
    transform: scale(0.6);
    /* animation: fadeInScale 1.5s ease-out forwards; */
   
   
  }
  
  @keyframes fadeInScale {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .main_hero .code-design3:hover {
    /* animation: hoverAnimation 0.8s ease-out forwards; */
  }
  
  @keyframes hoverAnimation {
    0% {
      opacity: 0.5;
      transform: scale(0.9) rotate(0deg);
    }
    50% {
      opacity: 1;
      transform: scale(1.2) rotate(180deg);
    }
    100% {
      opacity: 0.8;
      transform: scale(1) rotate(360deg);
    }
  }
  .group-img1 {
    z-index: -1;
    height: 50%;
    width: 30%;
    margin-left: 2%;
    margin-bottom: 10%;
    position: fixed;
    opacity: .6;
    animation: scaleRotate 1.5s ease-out forwards;
  }
  
  @keyframes scaleRotate {
    from {
      opacity: 0;
      transform: scale(0.8) rotate(45deg);
    }
    to {
      opacity: .6;
      transform: scale(1) rotate(0deg);
    }
  }
  

  .hero-sub {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    max-width: 100%; /* Ensure the text doesn't exceed the width of its container */
    
  }

  .typing {
    width: 50ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space:  nowrap;
    overflow: hidden;
   
    font-family: monospace;
    font-size: 2em;
  }


  @keyframes typing {
    from {
      width: 0
    }
  }

  .ui-btn {
    --btn-default-bg: #6b9fa2;
    --btn-padding: 15px 20px;
    --btn-hover-bg: rgb(51, 51, 51);
    --btn-transition: .3s;
    --btn-letter-spacing: .1rem;
    --btn-animation-duration: 1.2s;
    --btn-shadow-color: rgba(0, 0, 0, 0.137);
    --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
    --hover-btn-color: #FAC921;
    --default-btn-color: #fff;
    --font-size: 16px;
    /* 👆 this field should not be empty */
    --font-weight: 600;
    --font-family: Menlo,Roboto Mono,monospace;
    /* 👆 this field should not be empty */
  }

  .ui-btn {
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: var(--btn-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--default-btn-color);
    font: var(--font-weight) var(--font-size) var(--font-family);
    background: var(--btn-default-bg);
    border: none;
    cursor: pointer;
    transition: var(--btn-transition);
    overflow: hidden;
    box-shadow: var(--btn-shadow);
    
    animation-fill-mode: forwards;
  }

  
.ui-btn span {
    letter-spacing: var(--btn-letter-spacing);
    transition: var(--btn-transition);
    box-sizing: border-box;
    position: relative;
    background: inherit;
  }
  
  .ui-btn span::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    background: inherit;
  }
  
  .ui-btn:hover, .ui-btn:focus {
    background: var(--btn-hover-bg);
  }
  
  .ui-btn:hover span, .ui-btn:focus span {
    color: var(--hover-btn-color);
  }
  
  .ui-btn:hover span::before, .ui-btn:focus span::before {
    animation: chitchat linear both var(--btn-animation-duration);
  }
  
  @keyframes chitchat {
    0% {
      content: "#";
    }
  
    5% {
      content: ".";
    }
  
    10% {
      content: "^{";
    }
  
    15% {
      content: "-!";
    }
  
    20% {
      content: "#$_";
    }
  
    25% {
      content: "№:0";
    }
  
    30% {
      content: "#{+.";
    }
  
    35% {
      content: "@}-?";
    }
  
    40% {
      content: "?{4@%";
    }
  
    45% {
      content: "=.,^!";
    }
  
    50% {
      content: "?2@%";
    }
  
    55% {
      content: "\;1}]";
    }
  
    60% {
      content: "?{%:%";
      right: 0;
    }
  
    65% {
      content: "|{f[4";
      right: 0;
    }
  
    70% {
      content: "{4%0%";
      right: 0;
    }
  
    75% {
      content: "'1_0<";
      right: 0;
    }
  
    80% {
      content: "{0%";
      right: 0;
    }
  
    85% {
      content: "]>'";
      right: 0;
    }
  
    90% {
      content: "4";
      right: 0;
    }
  
    95% {
      content: "2";
      right: 0;
    }
  
    100% {
      content: "";
      right: 0;
    }
  }

  .flip-bd {
    color: white;
    overflow: hidden;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .flipcard1,
  .flipcard2,
  .flipcard3,
  .flipcard4 {
    width: 350px;
    height: 350px;
    margin: 20px;
    overflow: hidden;
    margin-bottom: 50px;
    position: relative;
  }
  
  .flip_card1,
  .flip_card2,
  .flip_card3,
  .flip_card4 {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 1800ms;
    transform-style: preserve-3d;
  }
  
  .flipcard1:hover > .flip_card1,
  .flipcard2:hover > .flip_card2,
  .flipcard3:hover > .flip_card3,
  .flipcard4:hover > .flip_card4 {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .flip_front1,
  .flip_back1,
  .flip_front2,
  .flip_back2,
  .flip_front3,
  .flip_back3,
  .flip_front4,
  .flip_back4 {
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 2px solid smooth;
    border-radius: 40px;
    border-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flip_front1,
  .flip_front2,
  .flip_front3,
  .flip_front4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    perspective: 100px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCoflC6Cj2wpbcKy9X-TnxXk9KTP2sCHzdfA&usqp=CAU");
    mask-image: radial-gradient(circle at center, transparent 75%, black 100%);
    background-size: 100% 65%;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #656c6d;
  }
  
  .flip_text {
    position: absolute;
    top: 60px;
    padding-top: 60%;
    height: 50%;
    width: 100%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .flip_back1,
  .flip_back2,
  .flip_back3,
  .flip_back4 {
    height: 100%;
    color: white;
    background-color: #656c6d;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flip_pre {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
  }


.schedule{
    color: white;
}

header h1 {

    /* color: #ffffff; */
    padding: 20px;
    text-align: center;
    font-size: 5rem;
    background: linear-gradient(45deg, #FBF8CC, #FDE4CF, #FFCFD2, #F1C0E8, #CFBAF0, #A3C4F3, #90DBF4, #8EECF5, #98F5E1, #B9FBC0);
    -webkit-background-clip: text;
    color: transparent;
    background-size: 200% 200%;
    animation: gradientAnimation 15s linear infinite; /* Adjust the animation duration */
    text-decoration: underline 3px; 
    text-underline-offset: 15px;
    text-decoration-color: white ;
}

header h1:hover{
  transform: scale(1.05);
}
.container_es {
    max-width: 800px;
    margin: 20px auto;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 10px;
   
  }

  .event-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  
.event {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Increased shadow for contrast */
    transition: transform 0.2s ease;
    position: relative;
    background-color: #656c6d; /* Darker background color for the event cards */
    color: #fff; /* White text color */
  }
  
  .event:hover {
    transform: scale(1.05);
  }
  
  .event h2 {
    margin: 0;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #304855; /* Contrasting color for event titles */
  }
  
  .event p {
    margin-top: 10px;
    font-size: 20px;
  }
  
  .event .connector {
    position: absolute;
    top: 0;
    left: -10px;
    width: 10px;
    height: 100%;
    background: linear-gradient(180deg, #ff5733, #f1c40f); /* Gradient connector */
    border-radius: 5px;
    z-index: -1;
    opacity: 0; /* Initially hide the connector */
    transition: opacity 0.2s ease; /* Add a transition for smooth hover effect */
  }
  
  .event:hover .connector {
    opacity: 1; /* Show the connector on hover */
  }

 .event_anchor{
    width: 40%;
    text-decoration: none;
 }


 .container_fq {
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 10px;
}
.container_fq h1{

    text-align: center;
    align-items: center;
}
div{
    color: white;
}

.single-faq{
    padding: 1rem;
    margin: 2rem;
    background-color: #656c6d;  /*Darker background color for the event cards */
    color: #fff; /* White text color*/ 
    border-radius: 0.5em;
}

.single-faq i {
    width: 1.25rem;
    margin-right: 0.75rem;
    justify-content: center;
    transition: all 0.05s ease-in-out;
}

.single-faq h5 {
    transition: all 0.3s ease-in-out;
}

.single-faq:hover{
    transform: scale(1.05);
}

.single-faq:hover h5 {
    color: #B9A8A8; /* Some transition color */
}

.sponsor-container {

        max-width: 800px;
        margin:2rem auto;
        margin-bottom: 0px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  }
  
  .sponsor-heading {
    font-size: 24px;
  }
  
  /* Styles for the sponsor entries */
  .sponsor {
  
    display: inline-block; /* Display sponsors side by side */
    margin: 20px; /* Add spacing between sponsors */
    text-align: center; /* Center-align the sponsor and name */
  }
  
  /* Styles for the sponsor images */
  .sponsor-images {
    white-space: nowrap; /* Prevent line break between sponsors */
  }
  
  .sponsor img {
    width: 100px;
    border-radius: 50%; /* Set a maximum width for sponsor images */
  }

  .sponsor img:hover{
    transform: scale(1.05);
  }
  
  /* Styles for the sponsor names */
  .sponsor-name {
    font-size: 16px;
    margin-top: 10px; /* Add spacing between image and name */
  }
  .sponsor a{
    text-decoration: none;
    display: block;
    color: white;
    padding-top: 15px;
    font-size: 25px;
  }

  .sponsor a:hover{
    text-decoration: underline;
    color: #B9A8A8;
    text-underline-offset: 10px;
  }

  .sponsor-container:hover{
    transform: scale(1.05);
  }



.cardsocialmediasocialmedia {
    text-align: center;
    /* left: 38%; */
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    
    gap: 20px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
    margin: auto; /* Add this line */
  }
  
  .cardsocialmediasocialmedia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
    border-radius: 10px;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  .copyRight{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  footer{
    border-top: white 3px solid;
    background-color: black;
    padding: 20px;
    margin-top: 20px;
  }
  .mobile-content{
    display: none;
  }
  .register{
    margin-left:40% ;
  }
 

 @media all and (max-width:875px) {
    nav{
        flex-direction: column;
        font-size: 28px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px solid white;
        position: relative;
    }
    nav li{
        display: block;
        padding: 10px 0;

    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
        margin: 10px 0 0 10px;
    }

    .code-design3{
      display: none;
    }
   .group-img1{
    width:80%;
    height: 40%;
    margin-top: 10%;
    opacity: 2;
   }
    .menu{
        display: block;
        position: absolute;
        right: 2%;
        top: 30px;
    }

    .showmenu {
        display: block;
      }

      .hero-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }

        .div1 { grid-area: 1 / 1 / 3 / 3; }
        .div2 { grid-area: 4 / 1 / 6 / 3; }
        .div3 { grid-area: 3 / 1 / 4 / 3; }
        .div4, .div5 { display: none; }

    .hero-title{
        font-size: 6.5rem;

    }

    .hero{
       height: 100vh;
       padding-top: 30%;
       align-items: flex-start;
       padding-left: 5%;
       padding-right: 3%;
    }
    .typing{
      width: 20ch;
      font-size: 1.5rem;
    }

    .hero-sub{
      display: none;
    }

    .mobile-hero-sub{
      display: block;
      font-size: 1.5rem;
      margin: 0;
    }
    .mobile-content {
      margin-top: 2%;
      display: block;
      font-size: large;
      border: 3px white double;
      border-radius: 10px;
      padding: 2%;
      opacity: 0; /* Set initial opacity to 0 */
      animation: fadeIn 1.5s ease-out forwards; /* Animation name, duration, easing, and forwards to keep the final state */
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0; /* Starting opacity */
      }
      to {
        opacity: 1; /* Ending opacity */
      }
    }

    .hero >.ui-btn{
      margin-left: 30%;
    }
    .event_anchor{
        width: 90%;
    }
    header h1{
        font-size: 2rem;
    }
    .to-top{
      height: 30px;
      width: 30px;
    }

    

    .sponsor-container{
        flex-direction: column;
        align-items: center;
        margin: auto 20px;
    }

    body{
        padding-top:0 ;
        padding-left:0;
        padding-right:0;
    }
    .flip-bd{
      flex-direction: column;
    }
}
