body{
  margin: 0;
  padding-top: 20px ;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: black;
  
}
html{
  scroll-behavior: smooth;
}

nav{
  font-size: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid white;
  /* position: fixed;
  z-index: 100; */
}

nav li{
  display: inline-block;
  margin: 0 8px;
}

nav a{
  text-decoration: none;
  color: rgb(185, 168, 168);
}

.logo{
  font-size: 40px;
  font-weight: bolder;
}


nav ul  a:hover{
  text-decoration: underline;
  color: white;
  text-underline-offset: 10px;
}

nav .logo a:hover{
  text-decoration: none;
  color: white;
}

.to-top{
  background-color: white;
   height:50px; 
   width:50px;
   right: 32px;
   bottom: 16px;
   border-radius: 50%;
   position: fixed;
   display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 32px;
      text-decoration: none;
      opacity: 0;
      pointer-events: none;
      transition: all .4s;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}


.menu-line{
  height: 4px;
  width: 25px;
  background-color:rgb(185, 168, 168);
  margin-bottom: 3px;
  border-radius: 10px;
}

.menu{
  cursor: pointer;
  display: none;
}

.hero-title {
  font-size: 10rem;
  text-align: center;
  background: linear-gradient(45deg, #FBF8CC, #FDE4CF, #FFCFD2, #F1C0E8, #CFBAF0, #A3C4F3, #90DBF4, #8EECF5, #98F5E1, #B9FBC0);
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200% 200%;
  animation: gradientAnimation 8s linear infinite; /* Adjust the animation duration */
  margin-bottom: 0;
  padding: 0;
}

.hero{
  padding-top: 200px;
  padding-bottom: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero-sub {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0;
}

.typing {
  width: 7ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  font-family: monospace;
  font-size: 2em;
}


@keyframes typing {
  from {
    width: 0
  }
}

.ui-btn {
  --btn-default-bg: #6b9fa2;
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #FAC921;
  --default-btn-color: #fff;
  --font-size: 16px;
  /* 👆 this field should not be empty */
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  /* 👆 this field should not be empty */
}

.ui-btn {
  margin-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: var(--btn-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
}


.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}
@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}
.flip-bd {
  color: white;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipcard1,
.flipcard2,
.flipcard3,
.flipcard4 {
  width: 350px;
  height: 350px;
  margin: 20px;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}

.flip_card1,
.flip_card2,
.flip_card3,
.flip_card4 {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 1800ms;
  transform-style: preserve-3d;
}

.flipcard1:hover > .flip_card1,
.flipcard2:hover > .flip_card2,
.flipcard3:hover > .flip_card3,
.flipcard4:hover > .flip_card4 {
  cursor: pointer;
  transform: rotateY(180deg);
}

.flip_front1,
.flip_back1,
.flip_front2,
.flip_back2,
.flip_front3,
.flip_back3,
.flip_front4,
.flip_back4 {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  border: 2px solid smooth;
  border-radius: 40px;
  border-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip_front1,
.flip_front2,
.flip_front3,
.flip_front4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  perspective: 100px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCoflC6Cj2wpbcKy9X-TnxXk9KTP2sCHzdfA&usqp=CAU");
  mask-image: radial-gradient(circle at center, transparent 75%, black 100%);
  background-size: 100% 65%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #656c6d;
}

.flip_text {
  position: absolute;
  top: 60px;
  padding-top: 60%;
  height: 50%;
  width: 100%;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flip_back1,
.flip_back2,
.flip_back3,
.flip_back4 {
  height: 100%;
  color: white;
  background-color: #656c6d;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip_pre {
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  margin-top: 20px;
  padding: 20px;
}

.btn {
  cursor: pointer;
  color: white;
  font-family: monospace;
  background-color: #6b9fa2;
  border: 2px solid #6b9fa2;
  border-radius: 1rem;
 
}
.schedule{
  color: white;
}

header h1 {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: 5rem;
  text-decoration: underline 3px; 
  text-underline-offset: 25px;
}

.container_es {
  max-width: 800px;
  margin: 20px auto;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 10px;
 
}

.event-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.event {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Increased shadow for contrast */
  transition: transform 0.2s ease;
  position: relative;
  background-color: #656c6d; /* Darker background color for the event cards */
  color: #fff; /* White text color */
}

.event:hover {
  transform: scale(1.05);
}

.event h2 {
  margin: 0;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #304855; /* Contrasting color for event titles */
}

.event p {
  margin-top: 10px;
  font-size: 20px;
}

.event .connector {
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 100%;
  background: linear-gradient(180deg, #ff5733, #f1c40f); /* Gradient connector */
  border-radius: 5px;
  z-index: -1;
  opacity: 0; /* Initially hide the connector */
  transition: opacity 0.2s ease; /* Add a transition for smooth hover effect */
}

.event:hover .connector {
  opacity: 1; /* Show the connector on hover */
}

.event_anchor{
  width: 40%;
  text-decoration: none;
}


.container_fq {
  max-width: 800px;
  margin: 2rem auto;
  border-radius: 10px;
}
.container_fq h1{

  text-align: center;
  align-items: center;
}
div{
  color: white;
}

.single-faq{
  padding: 1rem;
  margin: 2rem;
  background-color: #656c6d;  /*Darker background color for the event cards */
  color: #fff; /* White text color*/ 
  border-radius: 0.5em;
}

.single-faq i {
  width: 1.25rem;
  margin-right: 0.75rem;
  justify-content: center;
  transition: all 0.05s ease-in-out;
}

.single-faq h5 {
  transition: all 0.3s ease-in-out;
}

.single-faq:hover{
  transform: scale(1.05);
}

.single-faq:hover h5 {
  color: #FAC921; /* Some transition color */
}

.sponsor-container {

      max-width: 800px;
      margin:2rem auto;
      margin-bottom: 0px;
      padding: 20px;
      border-radius: 10px;
      background-color: #656c6d;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}

.sponsor-heading {
  font-size: 24px;
}

/* Styles for the sponsor entries */
.sponsor {

  display: inline-block; /* Display sponsors side by side */
  margin: 20px; /* Add spacing between sponsors */
  text-align: center; /* Center-align the sponsor and name */
}

/* Styles for the sponsor images */
.sponsor-images {
  white-space: nowrap; /* Prevent line break between sponsors */
}

.sponsor img {
  width: 200px;
  border-radius: 50%; /* Set a maximum width for sponsor images */
}

.sponsor img:hover{
  transform: scale(1.05);
}

/* Styles for the sponsor names */
.sponsor-name {
  font-size: 16px;
  margin-top: 10px; /* Add spacing between image and name */
}
.sponsor a{
  text-decoration: none;
  display: block;
  color: white;
  padding-top: 15px;
  font-size: 25px;
}

.sponsor a:hover{
  text-decoration: underline;
  color: #FAC921;
  text-underline-offset: 10px;
}

.sponsor-container:hover{
  transform: scale(1.05);
}



.cardsocialmediasocialmedia {
  text-align: center;
  /* left: 38%; */
  position: relative;
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  
  gap: 20px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  margin: auto; /* Add this line */
}

.cardsocialmediasocialmedia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
  border-radius: 10px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}
.copyRight{
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer{
  border-top: white 3px solid;
  background-color: black;
  padding: 20px;
  margin-top: 20px;
}

@media all and (max-width:875px) {
  nav{
      flex-direction: column;
      font-size: 28px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-bottom: 3px solid white;
      position: relative;
  }
  nav li{
      display: block;
      padding: 10px 0;

  }
  ul{
      text-align: center;
      padding: 0;
      display: none;
  }
  .logo{
      align-self: flex-start;
      margin: 10px 0 0 30px;
  }

  .menu{
      display: block;
      position: absolute;
      right: 20px;
      top: 25px;
  }

  .showmenu {
      display: block;
    }

  .hero-title{
      font-size: 5rem;

  }
  .hero{
      padding-top: 100px;
      padding-bottom: 50px;
  }
  .event_anchor{
      width: 90%;
  }
  header h1{
      font-size: 3rem;
  }

  .sponsor-container{
      flex-direction: column;
      align-items: center;
      margin: auto 20px;
  }

  .flip-bd{
    flex-direction: column;
  }
}
